#photosContainer{
  display:grid;
  grid-template-rows:masonry;
  grid-template-columns: repeat(1,1fr);
}

@media only screen and (max-width: 576px) {
  #photosContainer{
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width: 768px) {
  #photosContainer{
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (min-width: 992px) {
  #photosContainer{
    grid-template-columns: repeat(4,1fr);
  }
}